h1{
    margin-top: 0px;
    font-size: 65px ;
}

body{
    margin:0;
    text-align:center; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif    ;
}

h1{
    margin-top: 30px;   
    font-family: 'Sacramento', cursive;
    margin-bottom: 0;
    color: #66BFBF;
}

h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    color: #66BFBF;
}

h3{
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}

.top{
    background-color: rgb(175, 233, 233);    
    padding:100px;
    margin-top: 75PX;
}

.bottom{
    height: 140px;
    margin: 0;
    background-color:rgb(175, 233, 233);    
    padding: 20px;
}

.topcloud{
    margin-left: 730px;
    top:50px;
    right:350px;   
}

.bottomcloud{
    margin-right: 100px;
}

.myimg{
    height: 300px;
    width: 300px;
    margin-right: 260px;
    margin-top: 30px;
}

.programmer{
    font-size: 1.2 rem;
}

.skill-img { 
    height: 150px;
    width: 150px;
    padding: 10px;
}

.footer-img{
    margin-top: 15px;
    margin-left: 20px;
    height: 35px;
    width: 35px;
    
}

hr{
    margin: 0;
}

p{  
    width: 350 px ;
    font-size: 25px;
}

.footer-img:hover{
    height: 40px;
    width: 40px;
}

.myskills{
    margin-top: 40px;
    font-size: 32px;
}

.intro{
    width: 24%;
    margin: auto;
    margin-bottom: 30px;
}

p{
    line-height: 1.5;
}

hr{
    border-color: rgb(19, 86, 109);
    border-style: dotted;
    border-bottom: none;
    border-width: 4px;
    width: 4%;
    margin: 30px auto;
}

h5{
    margin: 0;
}


.contact-me{
    margin :50px;
}


textarea{
   vertical-align: top;
}

.inp{
    margin: 15px    ;

}

.form-div{
    padding: 8px;
    color: rgb(4, 111, 114);
    width: 600px;
    height: auto;
    margin: 100px auto;
    background-color:  rgb(175, 233, 233);    
    text-align: left;
    border: black;
    border-style: inset;
    border-radius: 15px;
    line-height: 3;

}

.links{
    margin-top: 15px;
}

.inp-btn{
    size: 12px;
    color: white;
    background-color: black;
    padding: 7px;
    margin: 10px 5px;
    border-radius: 10px;
}

.inp-btn:hover{
    size: 12px;
    color: black;
    background-color: white;
}

.contact-para{
    color: black;
    font-size: 15px;
}

*{
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
    
}

nav{
    background-color: #056e72;
    height: 75px;
    width: 100%;
    position: fixed;
}

fieldset{
    padding:10px;
}


.logo{
    color: rgb(9, 178, 200);
    font-size: 35px;
    padding: 0 40px;
    line-height: 80px;
    float: left;
}

nav ul{
    margin-left: 0;
    float: right;
    margin-right: 80px; 
}

nav ul li{
    display: inline-block;
    margin: 20px;
    padding: 7px 13px;
    font-size: 17px;
    border-radius: 5px;
    
}

nav ul li:hover{
    background-color: #28b6bb;
    color: white;
}


a{
    color:  white;
    text-decoration: none;
}

.profile{
    margin-top: 50px;
}

.navbar{
    top: 0;
    
}

.Educational{
    margin-top: 100px;
}

.bottom{
    background-color: #056e72;
}

.middle{
    margin-top: 100px;
}

.skill-row-c{
    width: 45%;
    margin: 100px 30px;
    background-color: antiquewhite;
    border-radius: 10px;
    padding: 25px;

}

.skill-row-DSA{
    width: 45%;
    margin: 100px 750px;
    background-color: antiquewhite;
    border-radius: 10px;
    padding: 25px;
}

.skill-row-web{
    width: 45%;
    margin: 100px 30px;
    background-color: antiquewhite;
    border-radius: 10px;
    padding: 25px;
}

.skill-row-c:hover{
    background-color: rgb(227, 189, 140);
}

.skill-row-web:hover{
    background-color: rgb(227, 189, 140);
}

.skill-row-DSA:hover{
    background-color: rgb(227, 189, 140);
}

